* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    text-align: center;
}

body {
    background-color: rgb(175, 179, 152);
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.boxes {
   max-width: 380px;
   width: 100%;
   height: 55px;
   background-color: #ffffff;
   margin: 10px 0;
   border-radius: 55px;
   border: 2px solid rgba(2, 2, 2, 0.849);
   display: grid;
   grid-template-columns: 15% 85%;
   padding: 0 .4rem;
}

.boxes i {
    text-align: center;
    line-height: 51px;
    font-size: 1.1rem;
}

.boxes input {
    max-width: 380px;
    width: 100%;
    height: 51px;
    background: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: #030303;
    line-height: 1;
}

.recuperar-senha{
    display: relative;
    justify-content: space-between;
    font-size: 14.5px;
    font-weight: 600;
}

.recuperar-senha label input {
    accent-color: #fff;
}

.recuperar-senha a {
    color: #ffffff;
    text-decoration: none;
}

.recuperar-senha a:hover {
    text-decoration: underline;
}

.botao {
    max-width: 380px;
    width: 100%;
    height: 45px;
    background:rgb(222, 96, 38);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.849);
    font-weight: 600;
    margin-top: 20px;
}

.nova-conta {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;

}

.nova-conta a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.nova-conta a:hover {
    text-decoration: underline;
}

.esfera {
    width: 380px;
    height: 380px;
    top: 225px;
    left: -200px;
    border: 4px;
    border-radius: 40px;
    background:#DF6127;
    ;
}